Everything.agda
*.agda~
*.agda#
*.out
*.blg
*.bbl
*.log
*.aux
_build
tags
/html
lw25/src/MAlonzo/
lw25/src/Formula
lw25/src/Sem
lw25/src/NF
lw25/src/Appl
lw25/src/CNF
lw25/src/DP
lw25/src/DPLL
lw25/src/CNFIx
lw25/src/DPIx
lw25/src/DPLLIx

